@import "../../brandbook/variables";

.item {
  width: 100%;
  padding: 10px;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $second-color;
    border-radius: 15px;
  }
  &__image {
    max-height: 480px;
  }
  &__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    &:nth-last-child(2n) {
      padding-right: 10%;
    }
  }
  &__name {
    color: $font-color;
  }
}
