$main-color: #659dbd;
$active-bg-color: #BD8BCA;
$inactive-bg-color: #c79ed7;
$active-font-color: #FFFFFF;
$inactive-font-color: #d2d2d2;
$font-color: #354657;
$second-color: #FDE9E2;
$header-color: #daad86;
$footer-color: #8d8741;
$card-bg-color: #fbeec1;
$logo-color: #FFFFFF;
$copyright-color: #d2d2d2;
