$main-color: #dcccc7;
$active-bg-color: #BD8BCA;
$inactive-bg-color: #c79ed7;
$active-font-color: #FFFFFF;
$inactive-font-color: #d2d2d2;
$title-font-color: #354657;
$second-color: #FDE9E2;
$header-footer-color: #9b8b8b;
$logo-color: #FFFFFF;
