$main-color: #fbeec1;
$active-bg-color: #c67c7c;
$inactive-bg-color: #c67c7c6e;
$active-font-color: #FFFFFF;
$inactive-font-color: #d2d2d2;
$font-color: #354657;
$second-color: #FDE9E2;
$header-color: #e0bb9b;
$footer-color: #fbeec1;
$card-bg-color: #fbeec1;
$logo-color: #FFFFFF;
$copyright-color: #c67c7c;
